<div class="footer">
    <div class="w">
        <div class="links">
            <a class="link" href="http://www.baidu.com" target="_blank">百度</a> |
            <a class="link" href="http://www.baidu.com" target="_blank">百度</a> |
            <a class="link" href="http://www.baidu.com" target="_blank">百度</a> |
            <a class="link" href="http://www.baidu.com" target="_blank">百度</a> |
        </div>
        <p class="copyright">copyright2017</p>
    </div>
</div>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>